#outer{
    background-color: rgb(241, 190, 6);
    height: 400px;
    width: 400px;
    border-radius: 50%;
}

#inner{
    height: 60px;
    width: 200px;
    background-color: red ;
    border-radius: 0 0 50px 50px ;
    position: absolute;
    top: 250px;
    left: 100px;
}

 
.right-eye{
    background-color: black;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left : 250px;
    top: 100px;
}

.left-eye{
    background-color: black;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 100px;
    top:100px;
}